<h1 mat-dialog-title> {{ client != null ? 'Editar Cliente' : 'Nuevo Cliente' }} </h1>
<div mat-dialog-content>
    <hr>
    <fieldset>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label for="clientName" class="form-label">Nombre(s):</label>
                <input type="text" class="form-control form-control-sm" id="clientName" placeholder="Nombre cliente" [(ngModel)]="clientName">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label for="surName" class="form-label">Apellido(s):</label>
                <input type="text" class="form-control form-control-sm" id="surName" placeholder="Apellido cliente" [(ngModel)]="surName">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label for="phone" class="form-label">Télefono:</label>
                <input type="text" class="form-control form-control-sm" id="phone" placeholder="Télefono cliente" maxlength="14" [(ngModel)]="phone" mask='(000) 000-0000'>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label for="address" class="form-label">Dirección:</label>
                <input type="text" class="form-control form-control-sm" id="address" placeholder="Dirección cliente" [(ngModel)]="address">
            </div>
        </div>
        <br>
        <div class="">
            <div class="form-check-reverse form-switch col-lg-6 col-md-6 col-sm-10">
                <input class="form-check-input form-control" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="credit">
                <label class="form-check-label" for="flexSwitchCheckChecked">Habilitar venta a crédito:</label>
            </div>
        </div>
    </fieldset>
</div>
<div mat-dialog-actions>
    <div class="btn-group me-2">
        <button class="btn btn-outline-dark" (click)="close()">Cancelar</button>
    </div>
    <div class="btn-group me-2">
        <button class="btn btn-outline-info" color="primary" (click)="client != null ? editClient() : addClient()">Guardar</button>
    </div>
</div>