table {
    width: 100%;
    font-size: 15px;
    color: #000;
}

.borderBotton {
    border-bottom: 1pt solid black;
}
.borderBotton-th {
    border-bottom: 1pt solid rgb(36, 36, 36);
}

.borderTop {
    border-top: 1pt solid black;
}

.space {
    padding-top: 10px;
    padding-bottom: 10px;
}

.font-style {
    font-weight: bold;
}