<h1 mat-dialog-title> {{ product != null ? 'Editar Producto' : 'Nuevo Producto' }} </h1>
<div mat-dialog-content>
    <fieldset>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6">
                <label for="productName" class="form-label">Nombre producto:</label>
                <input type="text" class="form-control form-control-sm" id="productName" placeholder="Nombre Producto" [(ngModel)]="nameProduct">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="selectGender" class="form-label">Género</label>
                <select2 [data]="GenderSelect2" [value]="selectGenderId" (update)="selectGenderOpt($event)" id="selectGender" placeholder="Seleccione un género" noResultMessage="No encontrado"></select2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <label for="selectCategory" class="form-label">Categoría</label>
                <select2 [data]="CategorySelect2" [value]="selectCategoryId" (update)="selectCategoryOpt($event)" id="selectCategory" placeholder="Seleccione una categoría" noResultMessage="No encontrado"></select2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <label for="selectSubCategory" class="form-label">Sub-categoría</label>
                <select2 [data]="SubCategorySelect2" [value]="selectSubCategoryId" (update)="selectSubCategoryOpt($event)" id="selectSubCategory" placeholder="Seleccione una sub-categoría" disabled="{{subCategoryDisabled}}" noResultMessage="No encontrado"></select2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="productQuantity" class="form-label">Cantidad:</label>
                <div class="input-group">
                    <input type="number" class="form-control form-control-sm" id="productQuantity" placeholder="Piezas existentes" [(ngModel)]="productQuantity">
                    <span class="input-group-text">pzs</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="productCost" class="form-label">Costo:</label>
                <div class="input-group">
                    <span class="input-group-text-sm">$</span>
                    <input type="number" class="form-control form-control-sm" id="productCost" placeholder="Costo del producto" [(ngModel)]="productCost">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="productPrice" class="form-label">Precio:</label>
                <div class="input-group">
                    <span class="input-group-text-sm">$</span>
                    <input type="number" class="form-control form-control-sm" id="productPrice" placeholder="Precio del producto" [(ngModel)]="productPrice">
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div mat-dialog-actions>
    <button class="btn btn-outline-dark margin-btn-group-right" (click)="close()">Cancelar</button>
    <button class="btn btn-outline-info" color="primary" (click)="product != null ? editProduct() : addProduct()">Guardar</button>
</div>