<h1 mat-dialog-title> {{ product != null ? 'Editar Producto' : 'Nuevo Producto' }} </h1>
<div mat-dialog-content>
    <div>
        <label for="productName" class="form-label mt-4">Nombre Producto:</label>
        <input type="text" class="form-control" id="productName" placeholder="Nombre Producto:">
    </div>
    <div>
        <label for="selectCategory" class="form-label mt-4">Categoria</label>
        <select2 [data]="CategorySelect2" [value]="categoryId" (update)="selectCategoryOpt($event)" id="selectCategory"></select2>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="product != null ? editProduct() : addProduct()">Guardar</button>
</div>