<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Cobranza semanal</h4>
        </div>
    </div>
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/home'>Inicio</a></li>
            <li class="breadcrumb-item"><a routerLink='/collect'>Cobranza</a></li>
            <li class="breadcrumb-item active">Cobranza semanal</li>
        </ol>
    </div>

    <table class="table table-striped mat-elevation-z4">
        <thead class="table-primary">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="horizontal-middle">Creditos</th>
                <th scope="col" class="horizontal-middle">Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let CollectWeek of lstCollectWeek  | paginate: { itemsPerPage: 10, currentPage: collectWeek }">
                <td scope="col" class="vertical-middle">{{ CollectWeek.clientName }}</td>
                <td scope="col" class="vertical-middle horizontal-middle">{{ CollectWeek.credits }}</td>
                <td scope="col" class="vertical-middle horizontal-middle">{{ CollectWeek.sumPartialPaid | currency:'USD':'symbol' }}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="collectWeek = $event" class="text-center"></pagination-controls>
</div>