// <style type="text/css">
  @keyframes ldio-x2uulkbinbj {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  .ldio-x2uulkbinbj > div > div {
    transform-origin: 101px 101px;
    animation: ldio-x2uulkbinbj 3.3333333333333335s linear infinite;
    opacity: 0.8
  }

  .ldio-x2uulkbinbj > div > div > div {
    position: absolute;
    left: 50.5px;
    top: 50.5px;
    width: 50.5px;
    height: 50.5px;
    border-radius: 50.5px 0 0 0;
    transform-origin: 101px 101px
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(1) {
    animation-duration: 0.8333333333333334s
  }

  .ldio-x2uulkbinbj > div div:nth-child(1) > div {
    background: #ec1c24;
    transform: rotate(0deg);
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(2) {
    animation-duration: 1.1111111111111112s
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(2) > div {
    background: #fdbd10;
    transform: rotate(0deg);
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(3) {
    animation-duration: 1.6666666666666667s
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(3) > div {
    background: #0066b2;
    transform: rotate(0deg);
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(4) {
    animation-duration: 3.3333333333333335s
  }
  
  .ldio-x2uulkbinbj > div div:nth-child(4) > div {
    background: #9bcc31;
    transform: rotate(0deg);
  }
  
  .loadingio-spinner-wedges-nq4q5u6dq7r {
    width: 202px;
    height: 202px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
  }
  
  .ldio-x2uulkbinbj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  
  .ldio-x2uulkbinbj div { box-sizing: content-box; }
  /* [ldio] generated by https://loading.io */
// </style>