<mat-card>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-card-title>Inicio de Sesión</mat-card-title>
            <br>
            <!-- <mat-error *ngIf="!loginValid">
                The username and password were not recognized
            </mat-error> -->
            <mat-form-field>
                <input matInput placeholder="Usuario" formControlName="userLogin">
                <mat-error>Please provide a valid user name</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
                <mat-error>Please provide a valid password</mat-error>
            </mat-form-field>
            <br>
            <!-- <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button> -->
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" mat-raised-button>Iniciar Sesión</button>
        </form>
    </mat-card-content>
</mat-card>
<!-- <app-spinner/> -->