<div class="container">
    <table class="table table-striped mat-elevation-z4">
        <thead class="table-primary">
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of lstSales  | paginate: { itemsPerPage: 10, currentPage: sales }">
                <td scope="col">{{ sale.clientName }}</td>
                <td scope="col">{{ sale.total | currency:'USD':'symbol' }}</td>
                <td scope="col">{{ sale.creationDate | date : "dd/MM/YYYY HH:mm" }}</td>
                <td scope="col"><button class="btn btn-outline-info"><fa-icon [icon]="faEye"></fa-icon></button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="sales = $event" class="text-center"></pagination-controls>
</div>