<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Ventas</h2>
        </div>
    </div>

    <table class="table table-striped mat-elevation-z4">
        <thead class="table-primary">
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Tipo de pago</th>
                <th scope="col" class="horizontal-middle">Total</th>
                <th scope="col" class="horizontal-middle">Fecha</th>
                <th scope="col" class="horizontal-middle">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of lstSales  | paginate: { itemsPerPage: 10, currentPage: sales }">
                <td scope="col" class="vertical-middle">{{ sale.clientName }}</td>
                <td scope="col" class="vertical-middle">{{ sale.paymentTypeName }}</td>
                <td scope="col" class="vertical-middle horizontal-middle">{{ sale.total | currency:'USD':'symbol' }}</td>
                <td scope="col" class="vertical-middle horizontal-middle">{{ sale.creationDate | date : "dd/MM/YYYY HH:mm" }}</td>
                <td scope="col" class="vertical-middle horizontal-middle">
                    <button class="btn btn-outline-info" (click)="openDetail(sale.saleId)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="sales = $event" class="text-center"></pagination-controls>
</div>