<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-pulse-sync">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<mat-toolbar class="navbar navbar-expand-lg bg-primary text-white" *ngIf="this.user">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        
        <fa-icon class="text-white" [icon]="faBars"></fa-icon>
    </button>
    <h1>{{pageTitle}}</h1>
</mat-toolbar>

<mat-sidenav-container autosize *ngIf="this.user">
    <mat-sidenav [mode]="isMobile ? 'push' : 'side'" [opened]="isMobile ? 'false' : 'true'">
        <mat-nav-list>
            <br>
            <a mat-list-item  [routerLink]="['/home']" (click)="toggleMenu(); clickButon('/home')">
                <span class="entry">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span>Inicio</span>
                </span>
            </a>
            <a mat-list-item  [routerLink]="['/client']" (click)="toggleMenu(); clickButon('/client')">
                <span class="entry">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    <span>Clientes</span>
                </span>
            </a>
            <a mat-list-item  [routerLink]="['/brand']" (click)="toggleMenu(); clickButon('/brand')">
                <span class="entry">
                    <fa-icon [icon]="faSuitcase"></fa-icon>
                    <span>Marcas</span>
                </span>
            </a>
            <a mat-list-item  [routerLink]="['/statistics']" (click)="toggleMenu(); clickButon('/statistics')">
                <span class="entry">
                    <fa-icon [icon]="faChartBar"></fa-icon>
                    <span>Estadisticas</span>
                </span>
            </a>
            <hr>
            <a mat-list-item class="button-bottom" (click)="logout()">
            <span class="entry text-danger">
                <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                <span>Cerrar Sesión</span>
            </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <br>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom" *ngIf="this.user">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; {{ txtYear }} | <b>RS</b>ystem.
    </div>
</footer>
<app-login *ngIf="!this.user"></app-login>