<mat-drawer-container>
    <mat-drawer #drawer mode="side">
        <mat-divider></mat-divider>
        <mat-list-item><a *ngIf="user" (click)="logout()">Cerrar Sesión</a></mat-list-item>
    </mat-drawer>

    <div>
        <!-- <button (click)="drawer.toggle();">Mostrar/Ocultar</button> -->
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle();">
                <mat-icon>menu</mat-icon>
            </button>
            <span *ngIf="user">{{pageTitle}}</span>
            <span class="example-spacer"></span>
            <div style="margin-left: 20px;">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" *ngIf="user">
                    <mat-icon [routerLink]="['/home']">home</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" *ngIf="user" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <router-outlet />
    </div>
</mat-drawer-container>
<app-spinner/>

