<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Detalle de venta</h2>
      </div>
  </div>
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink='/home'>Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink='/sales'>Ventas</a></li>
      <li class="breadcrumb-item active">Detalle ventas</li>
    </ol>
  </div>

  <table class="table table-striped mat-elevation-z4">
    <thead class="table-primary">
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Tipo de pago</th>
            <th scope="col" *ngIf="showCredit">Periodo</th>
            <th scope="col" class="horizontal-middle">Total</th>
            <th scope="col" class="horizontal-middle">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sale of lstSalesDetail">
            <td scope="col" class="vertical-middle">{{ sale.clientName }}</td>
            <td scope="col" class="vertical-middle">{{ sale.paymentTypeName }}</td>
            <td scope="col" class="vertical-middle" *ngIf="showCredit">{{ sale.periodName }}</td>
            <td scope="col" class="vertical-middle horizontal-middle">{{ sale.total | currency:'USD':'symbol' }}</td>
            <td scope="col" class="vertical-middle horizontal-middle">{{ sale.creationDate | date:'MMM dd, y':'': 'es-ES' | titlecase }}</td>
        </tr>
    </tbody>
  </table>
  
  <h6>Detalle de productos</h6>
  <table class="table table-striped mat-elevation-z4">
      <thead class="table-primary">
          <tr>
              <th scope="col">Producto</th>
              <th scope="col" class="horizontal-middle">Cantidad</th>
              <th scope="col" class="horizontal-middle">Precio</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let sale of lstSalesDetailProducts">
              <td scope="col" class="vertical-middle">{{ sale.productName }}</td>
              <td scope="col" class="vertical-middle horizontal-middle">{{ sale.quantity }}</td>
              <td scope="col" class="vertical-middle horizontal-middle">{{ sale.unitPrice | currency:'USD':'symbol' }}</td>
          </tr>
      </tbody>
  </table>
  
  <h6 *ngIf="showCredit">Detalle de crédito</h6>
  <table *ngIf="showCredit" class="table table-striped mat-elevation-z4">
    <thead class="table-primary">
        <tr>
            <th scope="col" class="horizontal-middle">Pacialidad</th>
            <th scope="col" class="horizontal-middle">Fechas de pago</th>
            <th scope="col" class="horizontal-middle">Cantidad a pagar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sale of lstSalesDetailCredit">
            <td scope="col" class="vertical-middle horizontal-middle">{{ sale.saleCreditId }}</td>
            <td scope="col" class="vertical-middle horizontal-middle">{{ sale.nextPayDay | date:'MMM dd, y':'': 'es-ES' | titlecase }}</td>
            <td scope="col" class="vertical-middle horizontal-middle">{{ sale.partialPaid | currency:'USD':'symbol' }}</td>
        </tr>
    </tbody>
</table>
</div>