<!-- <div class="container">
  <div class="col-12 col-lg-9">
    <div class="row">
      @for (tile of tiles; track tile) {
        <div class="col-6 col-lg-3 col-md-6">
          <a [routerLink]="[tile.routerLink]">
            <div class="card">
              <div class="card-body px-4 py-4-5">
                <div class="row">
                  <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                    <div class="stats-icon red mb-2">
                      <i class="iconly-boldBookmark"></i>
                    </div>
                  </div>
                  <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">{{ tile.text }}</h6>
                    <h6 class="font-extrabold mb-0">112</h6>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row column1 social_media_section">
    @for (tile of tiles; track tile) {
      <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="(tile.needAdmin && this.userSubject.value.infoUser.userTypeId === 2) || (!tile.needAdmin)">
        <a [routerLink]="[tile.routerLink]">
          <div class="full socile_icons fb margin_bottom_30">
              <div class="social_icon">
                <i class="{{ tile.icon }}"></i>
              </div>
              <div class="social_cont">
                <span><strong>{{ tile.text }}</strong></span>
              </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>

@if(this.userSubject.value.infoUser.userTypeId === 2){
  <br>
  <div class="container">
    <div class="row column1 social_media_section">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <p>Mejores Productos</p>
        <canvas id="chartBestProduct">{{ chartBestProduct }}</canvas>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <p>Mejores Clientes</p>
        <canvas id="chartBestClient">{{ chartBestClient }}</canvas>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p>Ventas Mensuales</p>
        <canvas id="chartMonthSales">{{ _chartMonthSales }}</canvas>
      </div>
    </div>
  </div>
}

<!-- <mat-grid-list cols="4" rowHeight="100px">
    @for (tile of tiles; track tile) {
      <a [routerLink]="[tile.routerLink]">
        <mat-grid-tile
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">{{tile.text}}
        </mat-grid-tile>
      </a>
    }
</mat-grid-list> -->