
<div class="container">
  <div class="row column1 social_media_section">
    @for (tile of tiles; track tile) {
      <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="(tile.needAdmin && this.userSubject.value.infoUser.userTypeId === 2) || (!tile.needAdmin)">
        <a [routerLink]="[tile.routerLink]">
          <div class="full socile_icons fb margin_bottom_30">
              <!-- <div class="social_icon">
                <i class="{{ tile.icon }}"></i>
              </div> -->
              <div class="social_cont">
                <span><strong>{{ tile.text }}</strong></span>
              </div>
              <div class="social_cont">
                <img ngSrc="{{ tile.img }}" alt="" width="150" height="150" priority="">
              </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>