@if(this.userSubject.value.infoUser.userTypeId === 2){
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <p>Mejores Productos</p>
          <canvas id="chartBestProduct">{{ chartBestProduct }}</canvas>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <p>Mejores Clientes</p>
          <canvas id="chartBestClient">{{ chartBestClient }}</canvas>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p>Ventas Mensuales</p>
          <canvas id="chartMonthSales">{{ _chartMonthSales }}</canvas>
        </div>
      </div>
    </div>
  }